{% extends 'base.html.twig' %}

{% block title %}
    Connexion
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('logIn') }}
{% endblock %}

{% block body %}

    <div class="opacity"></div>
    <div class="container logInDiv">
        <h1>C'est ici que tu peux te connecter !</h1>

        <form action="{{ path('app_login') }}" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="form-group">
                <label for="inputUsername">Nom d'utilisateur :</label>
                <input  value="{{ last_username }}" id="inputUsername" placeholder="Pseudo" required name="username" type="text" class="form-control"></input>
            </div>
            <div class="form-group">
                <label for="inputPassword">Mot de passe :</label>
                <input placeholder="Ton mot de passe" id="inputPassword" required name="password" type="password" class="form-control"></input>
            </div>
            <a href="{{ path('reset_password') }}">J'ai oublié mon mot de passe</a>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <button type="submit" class="btn btnLogin">Connexion !</button>
        </form>
    </div>



    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
{% endblock %}