{% extends 'base.html.twig' %}

{% block title %}Le Blog{% endblock %}

{% block body %}
    <div class="container">
    <h1>Te voici sur le blog</h1>
    <p>Tu te trouves ici sur le blog.<br>
    C'est ici que sont réunis les articles concernant les nouveautés, évènements et actualités autour de Playfulkit...</p>

    {% if blog_posts %}
        {% for post in blog_posts %}
            <div class="card my-4">
                {% if post.illustration %}
                    <img class="card-img-top float-left" src="{{ post.illustration }}" alt="Blog illustration">
                {% endif %}
                <div class="card-body">
                    <div class="card-title text-center">
                        {{ post.title }}<br>
                        <small>
                            {% if post.author  %}
                                Publé par {{ post.author.username }}
                            {% endif %}
                            {% if post.creationDate %}
                                le {{ post.creationDate|date('d-m-Y') }}
                            {% endif %}
                        </small>
                    </div>
                    {{ post.content|slice(0, 350) ~ '...' }}
                </div>


                <a href="{{ path('blog_show', {'id': post.id}) }}" class="btn btn-warning">Lire l'article &rarr;</a>
            </div>
        {% endfor %}
    {% else %}
        <p>Oh... Il n'y a pas d'articles pour le moment... ¯\_(ツ)_/¯<br>
        Reviens plus tard !</p>
    {% endif %}
    </div>
{% endblock %}
