{% extends 'base.html.twig' %}

{% form_theme formTutorial 'bootstrap_4_layout.html.twig' %}

{% block title %}Tutorial{% endblock %}

{% block body %}
    <h1>Création d'un Tuto !</h1>

    {{ form_start(formTutorial) }}
    {{ form_row(formTutorial.title, {'attr': {'placeholder': "Titre du Tutoriel"}}) }}
    {{ form_row(formTutorial.content, {'attr': {'placeholder': "Présentation"}}) }}

    <ol class="tags" data-prototype="{{ form_widget(formTutorial.steps.vars.prototype)|e('html_attr') }}">
        {% for step in formTutorial.steps %}
            <hr>
            <li>
                {{ form_row(step.title) }}
                {{ form_row(step.content) }}
                {{ form_row(step.image) }}
                <a href="#" class="remove-existing-step btn btn-danger">supprimer cette étape</a>
            </li>
        {% endfor %}
    </ol>
    {{ form_row(formTutorial.is_published) }}

    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter un nouveau turotiel
        {% endif %}
    </button>

    {{ form_end(formTutorial) }}
{% endblock %}

{% block javascripts %}
    {{ parent () }}
    {{ encore_entry_script_tags('TutorialEditionForm') }}
{% endblock %}