{% extends 'base.html.twig' %}

{% form_theme formTutorial 'bootstrap_4_layout.html.twig' %}

{% block title %}
    Tutorial
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tutorial') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="tutoPresentation">Création d'un Tuto !</h1>

        {{ form_start(formTutorial) }}
        {{ form_row(formTutorial.title, {'attr': {'placeholder': "Titre du Tutoriel"}}) }}
        {{ form_row(formTutorial.content, {'attr': {'placeholder': "Présentation"}}) }}
        <div class="tutoPresentation">{{ form_row(formTutorial.choix, {'attr': {'placeholder': "Choisis ton illustration :"}}) }}</div>
        {{ form_row(formTutorial.illustration, {'attr': {'placeholder': "Illustration de ton Tuto", 'style': "display: none;", 'class': "champVid"}}) }}
        {{ form_row(formTutorial.imageFile) }}

        <ol class="steps" data-prototype="{{ form_widget(formTutorial.steps.vars.prototype)|e('html_attr') }}">
            {% for step in formTutorial.steps %}
                <hr>
                <li>
                    {{ form_row(step.title) }}
                    {{ form_row(step.content) }}
                    {{ form_row(step.image) }}
                    <a class="remove-existing-step btn btn-danger" href="#">supprimer cette étape</a>
                </li>
            {% endfor %}
        </ol>

        <button class="btn btn-success" type="submit">
            {% if editMode %}
                Enregistrer les modifications
            {% else %}
                Ajouter un nouveau tutoriel
            {% endif %}
        </button>

        {{ form_end(formTutorial) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent () }}
    {{ encore_entry_script_tags('TutorialEditionForm') }}
{% endblock %}
