{% extends 'base.html.twig' %}

{% block title %}
    Nouveau Tuto !
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tutoCreate') }}
{% endblock %}

{% block body %}
    
    {%  if app.user.id is defined  %}
        <div class="container">

            <h1>Crée ton Tuto !</h1>
            <p class="tutoEmojiHelp">
                Salut, avant de te lancer dans la création de ton super tutoriel saches que tu peux obtenir des emojis super cool 😎 comme celui-ci !
                Pour pouvoir les utiliser il te suffit de te rendre sur <a href="https://emojipedia.org" target="_blank">cette page</a> et de simplement copier/coller ceux qui te plaisent.
                Amuse toi bien ! 😉
            </p>

            {{ form_start(formTutorial) }}
            {{ form_row(formTutorial.title, {'attr': {'placeholder': "Titre du Tutoriel"}}) }}
            {{ form_row(formTutorial.content, {'attr': {'placeholder': "Présentation"}}) }}
            <div class="tutoPresentation">{{ form_row(formTutorial.choix, {'attr': {'placeholder': "Choisis ton illustration :"}}) }}</div>
            {{ form_row(formTutorial.illustration) }}
            <div id="invisible">{{ form_row(formTutorial.imageFile, {'attr':{'data-browse':"Titre"}}) }}</div>

            <ol class="tools" data-prototype="{{ form_widget(formTutorial.tools.vars.prototype)|e('html_attr') }}">
                {% for tool in formTutorial.tools %}
                    <hr>
                    <li>
                        {{ form_row(tool.name, {'label': 'Le nom de tom outil'}) }}
                        {{ form_row(step.quantity, {'label': 'La quantité'}) }}
                        <button class="remove-existing-tool btn btnRemoveTool">supprimer cette étape</button>
                    </li>
                {% endfor %}
            </ol>

            <ol class="steps" data-prototype="{{ form_widget(formTutorial.steps.vars.prototype)|e('html_attr') }}">
                {% for step in formTutorial.steps %}
                    <hr>
                    <li>
                        {{ form_row(step.title, {'label': 'Titre de l\'étape'}) }}
                        {{ form_row(step.content, {'label': 'Description'}) }}
                        {{ form_row(step.imageFile, {'label': 'Ajoute une image'}) }}
                        <button class="remove-existing-step btn btnRemoveStep">supprimer cette étape</button>
                    </li>
                {% endfor %}
            </ol>

            {{ form_row(formTutorial.is_published, {'label': 'Souhaites tu publier ton tuto ?'} ) }}

            <button class="btn btnCreateEdit" type="submit">
                {% if editMode %}
                    Enregistrer les modifications
                {% else %}
                    Ajouter un nouveau tutoriel
                {% endif %}
            </button>

            {{ form_end(formTutorial) }}
        </div>
    {% else %}
        <p>Tu dois d'abord te connecter ;)</p>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent () }}
    {{ encore_entry_script_tags('TutorialEditionForm') }}
    {{ encore_entry_script_tags('tool') }}
{% endblock %}
