{% extends 'base.html.twig' %}

{% block title %}Liste des Tuto{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tutorial') }}
{% endblock %}

{% block body %}

    <section id="tutorial">
        <h1>Les tutos !</h1>
        <div class="row">
            {% for tutorial in tutorials %}

                <div class="card cardTutorial col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                    <img class="card-img-top" src="https://via.placeholder.com/400" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ tutorial.title }}</h5>
                        <div class="metadata">Ecrit le {{ tutorial.dateCreation | date('d/m/Y') }} à {{ tutorial.dateCreation | date('H:i') }} </div>
                        <p class="card-text">{{ tutorial.content|slice(0, 50) ~ '...' }}</p>
                        <a href="{{ path('tutorial_show', {'id': tutorial.id}) }}" class="btn btn-primary">Lire la suite</a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </section>
{% endblock %}
