{% extends 'base.html.twig' %}

{% block title %}Liste des Tutos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tutorial') }}
{% endblock %}

{% block body %}
    <h1 class="tutorialIndexH1">Les tutos !</h1>
    <section id="tutorialIndex">
        <div class="customFlex">
            <div class="row container">
                {% for tutorial in tutorials %}

                    <div class="card cardTutorial">
                        <img class="card-img-top" src="{{ asset('build/images/robotDefault.png') }}" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">{{ tutorial.title }}</h2>
                            <div class="metadata">Ecrit le {{ tutorial.dateCreation | date('d/m/Y') }} à {{ tutorial.dateCreation | date('H:i') }} </div>
                            <p class="card-text">{{ tutorial.content|slice(0, 50) ~ '...' }}</p>
                        </div>
                        <a href="{{ path('tutorial_show', {'id': tutorial.id}) }}" class="btn btn-primary">Lire la suite</a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
