{% extends 'base.html.twig' %}

{% block title %}Liste des Tutos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tutorial') }}
{% endblock %}

{% block body %}
    <h1 class="tutorialIndexH1">Voici les tutos !</h1>
    <p class="container tutorialIndexDescription">
        {% if not app.user %}
            Tu te trouves actuellement sur l'espace tuto, c'est ici que tu peux découvrir les derniéres créations de la communauté, tu souhaites créer un tuto et le partager ? Inscrit toi ou connecte toi pour y avoir accès !
        {% else %}
            Tu te trouves actuellement sur l'espace tuto, c'est ici que tu peux découvrir les derniéres créations de la communauté, tu peux également créer ton propre tuto en te rendant sur ton espace lorsque tu es connecté(e) !
        {% endif %}
    </p>
    <section id="tutorialIndex">
        <div class="customFlex">
            <div class="row container">
                {% for tutorial in tutorials %}

                    <div class="card cardTutorial">
                        <img class="card-img-top" src="{{ asset('build/images/robotDefault.png') }}" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">{{ tutorial.title }}</h2>
                            <div class="metadata">Ecrit le {{ tutorial.dateCreation | date('d/m/Y') }} à {{ tutorial.dateCreation | date('H:i') }} </div>
                            <p class="card-text">{{ tutorial.content|slice(0, 50) ~ '...' }}</p>
                        </div>
                        <a href="{{ path('tutorial_show', {'id': tutorial.id}) }}" class="btn btnCard">Lire la suite</a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
