{% extends 'base.html.twig' %}

{% block title %}Hello TutorialController!{% endblock %}

{% block body %}

    <section class="tutorial">

        {% for tuto in tutorial %}
            <article>
                <h2>{{ tuto.title }}</h2>
                <div class="metadata">Ecrit le {{ tuto.dateCreation | date('d/m/Y') }} à {{ tuto.dateCreation | date('H:i') }} par <strong>{{ tuto.author }}</strong></div>
                <div class="content">
                    {{ tuto.content | raw }}
                    <a href="{{ path('tutorial_show', {'id': tuto.id}) }}" class="btn btn-primary">Lire la suite</a>
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}
