{% extends 'base.html.twig' %}

{% block title %}{{ tuto.title }}{% endblock %}

{% block body %}
    <article>
        <h2>{{ tuto.title }}</h2>
        {% if tuto.illustration %}
            <img src="{{ tuto.illustration }}" >
        {% endif %}
        <div class="metadata">Ecrit le {{ tuto.dateCreation | date('d/m/Y') }} à {{ tuto.dateCreation | date('H:i') }} </div>
        <div class="content">
            {{ tuto.content | raw }}
        </div>
    </article>
{% endblock %}

