{% extends 'base.html.twig' %}

{% block title %}
    {{ tuto.title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tutorial') }}
{% endblock %}

{% block body %}
    <div class="tutoPresentation container">
        <h1 class="titleShow">{{ tuto.title }}</h1>
        <article class="tutoContent">
            {% if tuto.illustration is not null %}
                {% set ext = tuto.illustration|split('.') %}
                {% if ext[1] is defined %}
                    <img src="/images/tutorial/{{ tuto.illustration }}" >
                {% else %}
                    <iframe width="560" height="315" src="http://www.youtube.com/embed/{{ tuto.illustration }}"></iframe>
                {% endif %}
            {% endif %}
            <p class="tutoText">
                {{ tuto.content | raw }}
            </p>
        </article>
    </div>
    <div class="container">

        {% if tuto.tools is not empty %}
            <div class="w-75 tool-box">
                <p>Pour réaliser ce tutoriel, tu auras besoin de :</p>
                <ul>
                    {% for tool in handtools %}
                        <li>Outils :</li>
                        <ol>
                            <li>
                                {{ tool.name }}
                            </li>
                        </ol>
                    {% endfor %}
                    {% for tool in hardwares %}
                        <li>Matériaux :</li>
                        <ol>
                            <li>
                                {{ tool.name }}
                            </li>
                        </ol>
                    {% endfor %}
                    {% for tool in softwares %}
                        <li>Logiciels :</li>
                        <ol>
                            <li>
                                {{ tool.name }}
                            </li>
                        </ol>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}


        {% if tuto.steps is not empty %}
            <ol>
                {% for step in tuto.steps %}
                    <li>
                        <div class="customCollapse">
                            <div class="row">
                                <div class="col-6">
                                    <span>
                                        {{ step.title }}
                                    </span>
                                </div>
                                <div class="empty btn BtnCollapse col-4 col-sm-4 col-md-4 col-lg-5 col-xl-5"></div>
                                <button class="btn BtnCollapse col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1" type="button">+</button>
                            </div>
                            <article class="contentCollapse">
                                <div class="row">
                                    <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        {{ step.content }}
                                    </p>
                                     {#uncomment img when we can set a condition with if img not empty then #}
                                     {#<img src="{{ step.image ? step.image : 'https://via.placeholder.com/150' }}" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2">#}
                                </div>
                            </article>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
        <div class="metadata">
            <span>Créé le
            {{ tuto.dateCreation | date('d/m/Y') }}
            par
            {{ tuto.author ? tuto.author.username : 'Anonyme' }}
            </span>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tutorial') }}
{% endblock %}
