{% extends 'base.html.twig' %}

{% block title %}
    {{ tuto.title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tutorial') }}
{% endblock %}

{% block body %}

    {% if app.user != null and tuto.author.id is defined %}
        {% if app.user.id == tuto.author.id %}
            <form method="post" action="{{ path('tuto_delete', {'id': tuto.id}) }}" onsubmit="return confirm('Tu es sûr de vouloir supprimer ton tutoriel ?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tuto.id) }}">
                <button class="btn btnDel btnDel">Supprimer mon tutoriel</button>
            </form>
        {% endif %}
    {% endif %}

    <div class="tutoPresentation container">
        <h1 class="titleShow">{{ tuto.title }}</h1>
        <article class="tutoContent">
            {% if tuto.illustration is not null %}
                {% set ext = tuto.illustration|split('.') %}
                {% if ext[1] is defined %}
                    <img class="imgTuto" src="/images/tutorial/{{ tuto.illustration }}" >
                {% else %}
                    <iframe width="560" height="315" src="http://www.youtube.com/embed/{{ tuto.illustration }}"></iframe>
                {% endif %}
            {% endif %}
            <p class="tutoText">
                {{ tuto.content | raw }}
            </p>
        </article>
    </div>
    <div class="container">
        {% if tuto.steps is not empty %}
            <ol>
                {% for step in tuto.steps %}
                    <li>
                        <div class="customCollapse">
                            <div class="row">
                                <div class="col-6">
                                    <span>
                                        {{ step.title }}
                                    </span>
                                </div>
                                <div class="empty btn BtnCollapse col-4 col-sm-4 col-md-4 col-lg-5 col-xl-5"></div>
                                <button class="btn BtnCollapse col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1" type="button">+</button>
                            </div>
                            <article class="contentCollapse">
                                <div class="row">
                                    {% if step.image is not null %}
                                     <p class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-10">
                                         {{ step.content }}
                                     </p>
                                     <img src="{{ asset('images/step/' ~ step.image) }}" alt="step_image" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2">
                                    {% else %}
                                        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            {{ step.content }}
                                        </p>
                                    {% endif %}
                                </div>
                            </article>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
        <div class="metadata">
            <span>Créé le
            {{ tuto.dateCreation | date('d/m/Y') }}
            par
            {{ tuto.author ? tuto.author.username : 'Anonyme' }}
            </span>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tutorial') }}
{% endblock %}
