{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block body %}
    <div class="opacity"></div>
    <div class="container contactDiv">
        <h1>Tu souhaites me contacter ?</h1>
        {{ form_start(form) }}
        {{ form_row(form.nom, {'label': 'Nom :', 'attr': {'placeholder':'Ton nom'}}) }}
        {{ form_row(form.prenom, {'label': 'Prénom :', 'attr': {'placeholder':'Ton prénom'}}) }}
        {{ form_row(form.email, {'label': 'Adresse email :', 'attr': {'placeholder':'Adresse@email.fr'}}) }}
        {{ form_row(form.message, {'label': 'Que veux tu me dire ?', 'attr': {'placeholder':'Ton message'}}) }}
        <button class="btn btnContact">{{ button_label|default('Envoyer') }}</button>
        {{ form_end(form) }}
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('contact') }}
    {% endblock %}
{% endblock %}