{% extends 'base.html.twig' %}

{% block title %}Contactez nous{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block body %}
    <div class="opacity"></div>
    <div class="container contactDiv">
        <h1>Tu souhaites me contacter ?</h1>
        <p>Rien de plus simple, tu renseignes les champs ci-dessous et je me ferais un plaisir de répondre à ta demande !
        <br>
            (les champs marqués d'une * sont obligatoires)</p>

        {{ form_start(form) }}
            {% if user is not null %}
                {{ form_row(form.nom, {'value' : user.lastname}) }}
                {{ form_row(form.prenom, {'value' : user.firstname}) }}
                {{ form_row(form.email, {'value' : user.email}) }}
                {{ form_row(form.message) }}
            {% else %}
                {{ form_widget(form) }}
            {% endif %}
            <button class="btn btnContact">{{ button_label|default('Envoyer le message') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('contact') }}
{% endblock %}