        {% extends 'base.html.twig' %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('lessonsShow') }}
{% endblock %}

{% block body %}

    <div id="LessonsPresentation" class="container">
        <div class="d-flex justify-content-center">
            <h1 class="mx-auto">{{ lesson.title }}</h1>
        </div>
        {% if lesson.illustration %}
            <div class="d-flex justify-content-center ImgContainer">
                <img src="/images/lesson/{{ lesson.illustration }}" alt="illustration de la leçon">
            </div>
        {% endif %}
        <article class="row single-post mt-5 no-gutters">
            <div class="col-md-12">
                {% if lesson.tool is not empty %}
                    <div class="w-75 tool-box">
                        <p>Pour réaliser ce qui est décrit dans cette leçon, nous avons utilisé :</p>
                        <ul>
                        {% for tool in handtools %}
                            <li>Outils :</li>
                            <ol>
                                <li>
                                    {{ tool.name }}
                                </li>
                            </ol>
                        {% endfor %}
                        {% for tool in hardwares %}
                            <li>Matériaux :</li>
                            <ol>
                                <li>
                                    {{ tool.name }}
                                </li>
                            </ol>
                        {% endfor %}
                        {% for tool in softwares %}
                            <li>Logiciels :</li>
                            <ol>
                                <li>
                                    {{ tool.name }}
                                </li>
                            </ol>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="single-post-content-wrapper p-3">
                    {{ lesson.content }}
                </div>
            </div>
        </article>

        <p class="by">
            Publié par Mathieu

            {#
            Uncomment when this function work.. Till then ...
            {% if lesson.author  %}
                Publié par {{ lesson.author.username }}
            {% endif %}#}

            {% if lesson.publicationDate %}
                le {{ lesson.publicationDate|date('d-m-Y') }}
            {% endif %}
        </p>
        <div class="d-flex">
            <a href="{{ path('lesson_index') }}" class="return">Retour</a>
        </div>
    </div>

    <div class="container">
        <div class="asideDesktop container">
            <strong>Les leçons les plus récentes :</strong>
            <ul>
                {% for recent in latest %}
                    <li>
                        <a href="{{ path('lesson_show', {'id': recent.id}) }}">- {{ recent.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <aside class="float-md-left asideMobile">
        <div class="container">
            <strong>Les leçons les plus récentes :</strong>
            <ul>
                {% for recent in latest %}
                    <li>
                        <a href="{{ path('lesson_show', {'id': recent.id}) }}">{{ recent.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </aside>

{% endblock %}