<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="icon" href="{{ asset('build/images/pfk-ico16.png') }}" type="image/png">
    <link rel="icon" sizes="32x32" href="{{ asset('build/images/pfk-ico32.png') }}" type="image/png">
    <link rel="icon" sizes="64x64" href="{{ asset('build/images/pfk-ico64.png') }}" type="image/png">
    <link rel="icon" sizes="96x96" href="{{ asset('build/images/pfk-ico96.png') }}" type="image/png">
</head>
<body>
<header id="navHeader">
    <nav class="navHeaderBar navbar">
        <a href="{{ path('app_index') }}"><img class="logoHeader" src="{{ asset('build/images/logo-header.png') }}" alt="playful_kit_logo_header"></a>
        <div class="row">
            {% if not app.user %}
                <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                <a class="nav-link loginBtn" href="{{ path('app_login') }}">Connexion</a>
            {% else %}
                <a class="nav-link" href="{{ path('user_show', {'id': app.user.id}) }}">Mon espace</a>
                <a class="nav-link logoutBtn" href="{{ path('app_logout') }}">Deconnexion</a>
            {% endif %}
        </div>
    </nav>
    <nav class="navbar navSubBar navbar-expand-md">
        <div class="empty"></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-nav navLinkBar" id="navbarSupportedContent">
            <div class="subLinkbar">
                <a class="comingSoon nav-link" href="#">Concours</a>
                <a class="nav-link" href="{{ path('tutorial') }}">Tutos</a>
                <a class="nav-link" href="{{ path('lesson_index') }}">Leçons</a>
                <a class="nav-link" href="{{ path('shop') }}">Boutique</a>
                <a class="comingSoon nav-link" href="#">Educateurs</a>
                <a class="nav-link" href="{{ path('map') }}">Les Fablabs</a>
                <a class="nav-link" href="{{ path('blog_index') }}">Blog</a>
                <a class="comingSoon nav-link" href="#">Contact</a>
            </div>
        </div>
    </nav>
</header>

<main id="body">
    {% for label, messages in app.flashes %}
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    {% block body %}{% endblock %}
</main>

<footer id="mainFooter">
    <div id="primMainFooter">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
            <img class="logoMain" src="{{ asset('build/images/logo-officielR.png') }}" alt="playful_kit_logo_officiel_retouche">
        </div>
        <div class="mainFooterSection col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <span>Catégories</span>
            <ul>
                <li>
                    <a href="{{ path('lesson_index') }}">Leçons</a>
                </li>
                <li>
                    <a href="{{ path('tutorial') }}">Tutos</a>
                </li>
                <li>
                    <a href="{{ path('blog_index') }}">Blog</a>
                </li>
            </ul>
        </div>
        <div class="mainFooterSection col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <a id="aboutUs" href="{{ path('cgu') }}">Condition générale d'utilisation</a>
        </div>

        <div class="mainFooterSection col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <span>Nous suivre</span>
            <div class="row justify-content-around">
                <a class="media" href="https://www.facebook.com/yourplayfulkit" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a class="media" href="https://www.instagram.com/playful_kit/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <div id="subMainFooter">
        <br>
        <span>2019 - Playfulkit</span>
        <br>
        <a href="https://wildcodeschool.fr/" target="_blank">Made with 💕 by Wild Code School</a>
    </div>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
