{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homePage') }}
{% endblock %}
{% block meta%}
    <meta name="accueilDescription" content="Bienvenue sur la page d'accueil du site playfulKit !" />
{% endblock %}
{% block body %}

    <h1 class="h1Desktop">Construire un robot c'est <span class="type"></span></h1>
    <h1 class="h1Mobile">Construire un robot c'est <span>facile !</span></h1>

    {% if not app.user %}
        <div class="container-fluid">
            <div class="row customRow">
                <div class="formContainer col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="opacity"></div>
                    <div class="centerIt d-flex align-items-center justify-content-center">
                        {{ form_start(form) }}
                        <h2>Tu souhaites nous rejoindre ? Allons-y !</h2>
                        {{ form_row(form.username, {'label': 'Nom d\'utilisateur :', 'attr': {'placeholder':'Pseudo'}}) }}
                        {{ form_row(form.email, {'label': 'Adresse email :', 'attr': {'placeholder':'Adresse@email.fr'}}) }}
                        {{ form_row(form.password.first, {'label': 'Mot de passe :', 'attr': {'placeholder':'Minimum de 6 caractères'}}) }}
                        {{ form_row(form.password.second, {'label': 'Confirmation :', 'attr': {'placeholder':'Confirme ton mot de passe'}}) }}
                        <div id="registration_form_birth_date" >
                            {{ form_row(form.birth_date, {'label': 'Date de naissance :'}) }}
                        </div>
                        <button type="submit" class="btn btnSend" >{{ button_label|default('Je m\'inscris !') }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div id="spaceLessons" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="Lessons">
                        <a href="{{ path('contest') }}">
                            <img class= "image" src = "{{ asset('build/images/homepage-challenge-roboticsR.jpg') }}" alt="contest.jpg"/>
                            <div class="opacity">
                                <span>Concours</span>
                            </div>
                        </a>
                    </div>
                    <div class="Lessons">
                        <a href="{{ path('lesson_index') }}">
                            <img class="image" src = "{{ asset('build/images/homepage-lessonsR.jpg') }}" alt="lesson.jpg"/>
                            <div class="opacity">
                                <span>Leçons</span>
                            </div>
                        </a>
                    </div>
                    <div class="Lessons">
                        <a href="{{ path('tutorial_index') }}">
                            <img class= "image" src = "{{ asset('build/images/homepage-tutorielsR.jpg') }}" alt="tuto.jpg"/>
                            <div class="opacity">
                                <span>Tutoriels</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div id="LessonsPresentation" class="container-fluid">
            <div class="row customRow2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4" id="contest2">
                    <div class="Lessons2">
                        <a href="{{ path('contest') }}">
                            <img class= "image" src = "{{ asset('build/images/homepage-challenge-roboticsR.jpg') }}" alt="contest.jpg"/>
                            <div class="opacity">
                                <span>Concours</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4" id="lesson2">
                    <div class="Lessons2">
                        <a href="{{ path('lesson_index') }}">
                            <img class="image" src = "{{ asset('build/images/homepage-lessonsR.jpg') }}" alt="lesson.jpg"/>
                            <div class="opacity">
                                <span>Leçons</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4" id="tutorial2">
                    <div class="Lessons2">
                        <a href="{{ path('tutorial_index') }}">
                            <img class= "image" src = "{{ asset('build/images/homepage-tutorielsR.jpg') }}" alt="tuto.jpg"/>
                            <div class="opacity">
                                <span>Tutoriels</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

     <section class="col-12">
        <h3>Boutique</h3>
        <div class="one-time col-12">
            <div><a href="{{ path('shop') }}"><img class="img-responsive" src="{{ asset('build/images/kit-shop-1.png') }}" alt="image 1"></a></div>
            <div><a href="{{ path('shop') }}"><img class="img-responsive" src="{{ asset('build/images/kit-shop-2.png') }}" alt="image 2"></a></div>
            <div><a href="{{ path('shop') }}"><img class="img-responsive" src="{{ asset('build/images/kit-shop-3.png') }}" alt="image 4"></a></div>
            <div><a href="{{ path('shop') }}"><img class="img-responsive" src="{{ asset('build/images/kit-shop-4.png') }}" alt="image 4"></a></div>
        </div>
    </section>

    <h3>Blog</h3>
    <section id="blogCards">
        <div class="row container">
            {% for latest in latest %}
                <div class="card cardBlog">
                    {% if latest.illustration == null %}
                        <img class="card-img-top" src="{{ asset('images/blog/5d1cac5857e14648816538.png') }}" alt="blog">
                    {% else %}
                        <img class="card-img-top" src="{{ asset('images/blog/' ~ latest.illustration) }}" alt="blog">
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">{{ latest.title }}</h4>
                    </div>
                    <a href="{{ path('blog_show', {'id': latest.id}) }}" class="btn btnCard">Voir le post 👀</a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent () }}
    {{ encore_entry_script_tags('homePage') }}
{% endblock %}