{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homePage') }}
{% endblock %}
{% block meta%}
    <meta name="accueilDescription" content="Bienvenue sur la page d'accueil du site playfulKit !" />
{% endblock %}
{% block body %}

    <h1>Build a robot is easy !</h1>

    {% if not app.user %}
        <div class="container-fluid">
            <div class="row customRow">
                <div class="formContainer col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="opacity"></div>
                    <div class="centerIt d-flex align-items-center justify-content-center">
                        {{ form_start(form) }}
                        <h2>Tu souhaites nous rejoindre ? Allons-y !</h2>
                        {{ form_row(form.username, {'label': 'Nom d\'utilisateur :', 'attr': {'placeholder':'Pseudo'}}) }}
                        {{ form_row(form.email, {'label': 'Adresse email :', 'attr': {'placeholder':'Adresse@email.fr'}}) }}
                        {{ form_row(form.password.first, {'label': 'Mot de passe :', 'attr': {'placeholder':'Minimum de 6 caractères'}}) }}
                        {{ form_row(form.password.second, {'label': 'Confirmation :', 'attr': {'placeholder':'Confirme ton mot de passe'}}) }}
                        <div id="registration_form_birth_date" >
                            {{ form_row(form.birth_date, {'label': 'Date de naissance :'}) }}
                        </div>
                        <button type="submit" class="btn btnSend" >{{ button_label|default('Je m\'inscris !') }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div id="spaceLessons" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="Lessons">
                        <a href="{{ path('lesson_index') }}">
                            <img class="image" src = "{{ asset('build/images/homepage-lessons.png') }}" alt="lesson.jpg"/>
                            <div class="opacity"></div>
                        </a>
                    </div>
                    <div class="Lessons">
                        <a href="{{ path('tutorial') }}">
                            <img class= "image" src = "{{ asset('build/images/homepage-tutoriels.png') }}" alt="tuto.jpg"/>
                            <div class="opacity"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div id="LessonsPresentation" class="container-fluid">
            <div class="row customRow">

                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" id="lesson2">
                    <div class="Lessons">
                        <a href="{{ path('lesson_index') }}">
                            <img class="image" src = "{{ asset('build/images/homepage-lessons.png') }}" alt="lesson.jpg"/>
                            <div class="opacity"></div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" id="tutorial2">
                    <div class="Lessons">
                        <a href="{{ path('tutorial') }}">
                            <img class= "image" src = "{{ asset('build/images/homepage-tutoriels.png') }}" alt="tuto.jpg"/>
                            <div class="opacity"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {# <section class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5">
        <h4 style="text-align:center;">Shop</h4>
        <div class="one-time">
            <div><img class="img-responsive" src="{{ asset('build/images/kit-shop-1.png') }}" alt="image 1"></div>
            <div><img class="img-responsive" src="{{ asset('build/images/kit-shop-2.png') }}" alt="image 2"></div>
            <div><img class="img-responsive" src="{{ asset('build/images/kit-shop-3.png') }}" alt="image 4"></div>
            <div><img class="img-responsive" src="{{ asset('build/images/kit-shop-4.png') }}" alt="image 4"></div>
        </div>
    </section>
    <section class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h4 style="text-align:center;">Blog</h4>
        <div class="one-time carouselBlog">
            {% for latest in latest %}
            <div>
                <a href="{{ path('blog_show', {'id': latest.id}) }}">
                    {% if latest.illustration == null %}
                        <img class="img-responsive" src="{{ asset('images/blog/5d1cac5857e14648816538.png') }}" alt="blog">
                    {% else %}
                        <img class="img-responsive" src="{{ asset('images/blog/' ~ latest.illustration) }}" alt="blog">
                    {% endif %}
                </a>
                <h3 style="text-align: center">{{ latest.title }}</h3>
            </div>
            {% endfor %}
        </div>
    </section> #}
{% endblock %}
{% block javascripts %}
    {{ parent () }}
    {{ encore_entry_script_tags('homePage') }}
{% endblock %}