{% extends 'base.html.twig' %}

{% block title %}
    Réinitialise ton mot de passe
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('logIn') }}
{% endblock %}

{% block body %}

    <div class="opacity"></div>
    <div class="container logInDiv">
        <h1>Réinitialiser mon mot de passe</h1>
        <p>
            Tu peux entrer ton nouveau mot de passe ici !</p>

            <div class="form-group">
                {{form_start(form)}}
                {{form_row(form.password.first)}}
                {{form_row(form.password.second)}}
                <button class="btn btnLogin"  type="submit">Enregistrer mon nouveau mot de passe</button>
                {{form_end(form)}}
            </div>
    </div>

{% endblock %}