{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.nickname, {'label': 'Ton pseudo :'}) }}
    {{ form_row(form.email, {'label': 'Ton email :'}) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
