{% extends 'base.html.twig' %}

{% block title %}Change tes infos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('userEdit') }}
{% endblock %}

{% block body %}
    <div class="opacity"></div>
    <div id="edit">
        <h1>Change tes infos</h1>

        {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        <a class="return" href="{{ path('user_password_edit', {'id' : app.user.id }) }}">Pour modifier ton mot de passe, c'est par ici !</a>
        <br>
        <a class="return" href="{{ path('user_show',{'id': app.user.id}) }}">Annuler</a>

    </div>

{% endblock %}
