{% extends 'base.html.twig' %}

{% block title %}Modifie ton mot de passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('passwordNew') }}
{% endblock %}

{% block body %}
<div class="opacity"></div>

<div id="passwordEdit" class="container">
    <h1>Modifie ton Mot de passe</h1>
    {{ form_start(form) }}
    {{ form_row(form.password.first, {'label': 'Mot de passe :', 'attr': {'placeholder':'Minimum de 6 caractères'}}) }}
    {{ form_row(form.password.second, {'label': 'Confirmation :', 'attr': {'placeholder':'Confirme ton mot de passe'}}) }}
    <button class="btn btnEdit">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
    <a class="return" href="{{ path('user_edit', {'id': user.id}) }}">Retour</a>
</div>

{% endblock %}
