{% extends 'base.html.twig' %}

{% block title %}Change tes infos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('userEdit') }}
{% endblock %}

{% block body %}
    <div class="opacity"></div>
      <div id="edit">
          <h1>Change tes infos</h1>

          {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}

          <div class="row justify-content-around">
              <a class="return" href="{{ path('user_show',{'id': app.user.id}) }}">Retour</a>
              <a class="password" href="{{ path('user_password_edit', {'id' : app.user.id }) }}">Modifier mon mot de passe</a>
          </div>

      </div>
  </div>

{% endblock %}
