{% extends 'base.html.twig' %}

{% block title %}Modifie ton mot de passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('passwordNew') }}
{% endblock %}

{% block body %}
<div class="opacity"></div>

<div id="passwordEdit">
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <button class="btn btnEdit">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
</div>

{% endblock %}
